body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #318773;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: #fff;
}

header p {
    margin-top: 5px;
    color: #fff;
}

main {
    text-align: center;
    margin-top: 50px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* City View Styling */
.city-view {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

.city-view h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.park-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Adjust columns as needed */
    grid-gap: 1vw;
}

.park {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.park:hover {
    background-color: #e0e0e0;
}

.current-park {
    background-color: #9be69d;
}

.current-park:hover {
    background-color: #63c266;
}

/* Park View Styling */
.park-view {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.park-view h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.park-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section {
    flex: 1;
    margin-right: 20px;
}


.right-section {
    flex: 2;
    text-align: left;
}

.park-info h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.park-info img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0vh;
    margin: 0;
}

.game-over-card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.restart-button-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.restart-button-btn:hover {
    background-color: #45a049;
}


.hidden {
    display: none;
}


